{% extends 'commonlayout.html' %}
{% block body %}

<br><br><br><br>
<div class="container-fluid">
  <h2 class="text-blue">AboutUs</h2><hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="text-cadet-blue text-agent ">We are Bridge of Society & Authorities to Solve the Problems</h2>
        <p class="text-justify">Our main for most objective is in our society we are find many problems like  cleaning of garbage,damage of roads, traffic signal problems,
protection force, air pollution, water problems, electricity problems are etc but no one is raising their issues because  lack of time or some
other problems.we provide to everyone at your door step around the clock regarding service problems everyone should be active and 
raise their problems thuogh our  protection services inform by the medium of Email.We are sand  to the Local Depatrments and Higher
Department autharities help to find the problems So there can easily identify the issue and  also  we are  waiting for your valueble suggestions
and comments to improve our service and  resolve the problems in a society,we are assured to keep your details in confidentially with out any hesitation.
it leads the better  life to the society.</p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <video id="videos" controls autoplay width="350" height="300">
            <source src="static/videos/garbage.mp4" type="video/mp4">
          </video>          
        </div>
      </div>
    </div>
  </div>
</div><br><br><br><br><br><br>
{% endblock %}